{% extends 'base.html.twig' %}

{% block title %}{{ program.title}}{% endblock %}

{% block body %}

<div class="media">
  <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
  <div class="media-body">
    <a href="{{ path('wild_show', {'slug': program.title}) }}"><h1 class="mt-0">{{ program.title }}</h1></a>
    <a href="{{ path('wild_showBySeason', {'id': season.id}) }}">Saison {{ season.id }} - Année {{ season.year}}</a>
      <details>
            <summary>Synopsis</summary>
      {{ season.description }}
      </details>
    <p>Categorie : {{ program.category.name }}</p>
    <p><h3>Episode {{ episode.number }} : {{ episode.title }}</h3></p>
    <p>{{ episode.synopsis}}</p>
  </div>
</div>

<a href="{{ path('home_index') }}">Retour à l'accueil</a>

{% endblock %}