{% extends 'base.html.twig' %}

{% block title %}{{ program.title}}{% endblock %}

{% block body %}

<div class="media">
  <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
  <div class="media-body">
    <a href="{{ path('wild_show', {'slug': program.title}) }}"><h1 class="mt-0">{{ program.title }}</h1></a>
    <p>Saison {{ season.id }} - Année {{ season.year}}</p>
      <p>{{ season.description }}</p>
    <p>Categorie : {{ program.category.name }}</p>
    <p><h3>Listes des épisodes</h3></p>
    {% for episode in episodes %}
        <a href="{{ path('wild_showByEpisode', {'id': episode.id}) }}">Episode {{ episode.number }} : {{ episode.title }}</a>
        <details>
            <summary>Synopsis</summary>
            {{ episode.synopsis}}
        </details>
    {% endfor %}
  </div>
</div>

<a href="{{ path('app_index') }}">Retour à l'accueil</a>

{% endblock %}